<footer class="footer">
  <div class="footer-inner">
    <p>&copy; <%= new Date().getFullYear() %> <a href="/"><%= config.author.name %></a>. All rights reserved.</p>
    <p>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme <a href="https://github.com/readant/readant.github.io" target="_blank">Custom L Theme</a></p>
  </div>
</footer>